
/* common */

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: red;
}

    a:hover {
        text-decoration: underline;
        color: red;
    }

footer .col-md-12 {
    padding: 40px;
    min-height: 232px;
    background-color: #e9e9f2;
    text-align: center;
}
/* HomePage */
.navbar-nav {
    background-color: #F5F5F5;
    font-size: 10px;
    color: #999999;
}

    .navbar-nav .row {
        min-height: 30px;
        line-height: 30px;
    }



/* loginPage */
.loginheader {
    padding: 10px 0;
}

    .loginheader p {
        line-height: 90px;
        font-size: 30px;
        text-align: right;
        color: #999999;
        position: absolute;
        top: 35px;
    }

.loginbody {
    min-height: 550px;
    width: 100%;
    /*    background-color: burlywood;*/
    background: url("/images/primary/loginbg.png");
}

    .loginbody p {
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        color: #fff;
        padding-top: 120px;
    }

    .loginbody .loginform {
        margin: 90px auto;
        font-weight: bold;
        padding: 40px 20px;
        width: 100%;
        min-height: 300px;
        background-color: #E9E9F2;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    }

/* index page */
