
@{
    ViewData["Title"] = "Login";
    Layout = "_BackEnd";
}

<link rel="stylesheet" href="~/css/LogAndReg.css" />
<link href="~/css/animate.css" rel="stylesheet" />
<script src="~/js/wow.min.js"></script>

<div class="container loginheader">
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index" title="返回首页"><img src="~/images/primary/login.gif" alt="图片无法加载" width="200px" /></a>
            <p class="text-right" style="display: inline-block; padding-left: 10px; color: black">管理员登录（内部人员使用）！</p>
        </div>
    </div>
</div>
<div class="col-md-12 loginbody">
    <div class="container">
        <div class="row wow fadeInRight animated">
            <div class="col-md-7">
                <p>静水常深,<br>Still waters run deep.</p>
                <p class="text-right" style="padding-top: 50px; padding-right: 80px;">——编者按</p>
            </div>

            <div class="col-md-5 ">
                <div class="loginform col-md-11">
                    <form asp-action="AdminLoginCheck" method="post" id="loginform" class="col-md-12" onsubmit="return stats()">
                        <p style="padding: 0 0 10px 0; font-size: 16px; color:black" id="loginnote">在此登录</p>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">登录号</span>
                                </div>
                                <input type="text" class="form-control" placeholder="登录号" id="custnumber" name="adminaccount" maxlength="10">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text">密&ensp;&ensp;码</span>
                                </div>
                                <input type="password" class="form-control" placeholder="密码" id="custpwd" name="adminpwd" maxlength="10">
                            </div>
                        </div>
                        <br />
                        <input type="submit" name="tologin" value="登录" class="btn btn-primary form-control" style="margin: 10px 0" />
                        <span id="errornote"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script>

    $(() => {
         if (@ViewBag.Stats) {
                $("#errornote").text("登录失败，请检查用户名或密码，若您正在使用丢失码进行密码更新，请检查您的丢失码");
            }
        //添加检查密码格式的自定义规则
        jQuery.validator.addMethod("CheckPwd", function (value, element) {
            var pwd = /^\w+$/;
            return pwd.test(value);
        }, "密码格式为数字字母或下划线");

        //检查登录号
        jQuery.validator.addMethod("CheckNumber", function (value, element) {
            var pwd = /^A[0-9]{9}$/;
            return pwd.test(value);
        }, "帐号格式为A[大写]开头(不包含A)的9位数字");

        $('#loginform').validate({
            //设置验证失败时存放错误提示的标签
            errorElement: 'span',
            //设置标签用到的样式
            errorClass: 'invalid-feedback',
            //设置验证用的规则
            rules: {
                adminaccount: {
                    required: true,
                    CheckNumber: true
                },
                adminpwd: {
                    required: true,
                    minlength: 10,
                    CheckPwd: true
                }
            },
            //设置验证失败的错误提示
            messages: {
                custnumber: {
                    required: "此项必填",
                    minlength: "密码长度固定为10位"
                },
                custpwd: {
                    required: "此项必填",
                    minlength: "密码长度固定为10位"
                }
            },
            //验证失败触发的事件
            errorPlacement: function (error, element) {
                element.next().remove(); //删除显示图标
                element.after(
                    '<span class="glyphicon form-control-feedback invalid-feedback" aria-hidden="true"></span>'
                );
                element.parent().append(error);
            },
            //设置高亮显示的事件
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .find('input')
                    .addClass('is-invalid');
            },
            //验证成功的事件
            success: function (label) {
                var el = label.closest('.form-group').find('input');
                el.next().remove(); //与errorPlacement相似
                el.after('<span class="glyphicon form-control-feedback valid-feedback" aria-hidden="true"></span>');
                el.removeClass('is-invalid').addClass('is-valid');
            }
        });
    });

    //返回状态
    function stats() {
        return $('#loginform').valid();
    }

</script>